/* Card.css */

.travel-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px; /* Set your desired height */
  margin: 10px; /* Add margin for spacing between cards */
  background-color: #fff;
  margin: 10px;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.travel-card:hover {
  transform: scale(1.05);
  background-color: #e5d73d; /* Change the color on hover */
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-details {
  padding: 15px;
}

.card-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.5rem;
}

.stylish-font {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  color: #100a0a;
}

.card-description {
  color: #555;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
}

.horizontal-center {
  display: inline-block;
}

