/* LoginFormStyles.css */

.container {
    background: url('C:/New folder/newpro/public/Img/185295.jpg') center / cover no-repeat fixed; /* Replace 'your-image.jpg' with the actual image path */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    color: #482696;
  }
  